VITE_API_URL=https://stub.practicum-team.ru/api/afisha
VITE_CDN_URL=https://stub.practicum-team.ru/content/afisha
# Для локального запуска в docker
# VITE_API_URL=//localhost/api/afisha
# VITE_CDN_URL=//localhost/content/afisha

# Для запуска на сервере
# VITE_API_URL=https://deniol.film.nomorepartiessbs.ru/api/afisha
# VITE_CDN_URL=https://deniol.film.nomorepartiessbs.ru/content/afisha